<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxut.agentplaza.mapper.AgentMapper">
    <select id="searchAgents" resultType="com.wxut.agentplaza.entity.Agent">
        SELECT DISTINCT a.* FROM agent a
        LEFT JOIN agent_tag at ON a.id = at.agent_id
        WHERE a.status = 1
        <if test="categoryId != null">
            AND a.category_id = #{categoryId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (a.name LIKE CONCAT('%', #{keyword}, '%')
                 OR a.description LIKE CONCAT('%', #{keyword}, '%')
                 OR at.tag_name LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY a.sort_order ASC, a.id ASC
    </select>
</mapper>
